body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    margin-top: 10rem;
  }
  h1{
    font-size: 7rem;
  }
  #counter {
    font-size: 300px;
    margin-bottom: 20px;
  }
  #increaseBtn {
    padding: 20px 30px;
    font-size: 5rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: tomato;
  }